{% extends 'base.html.twig' %}

{% block body %}    
    {% if posts is empty == false %}
        {% set i = 0 %}
        {% for key, category in posts %}
            <div class="container-fluid position-relative px-0 pt-sm-5 pb-0 pb-sm-3 mb-0 vw-100 {{ i % 2 == 0 ? "bg-warning" : "bg-light" }}">
                {# desktop #}
                <div class="row d-none d-sm-block">
                    <h3 class="text-center">{{ key }}</h3>
                </div>
                <ul class="posts__container d-none d-sm-block">
                    {% for row in category | batch(3) %}
                        <div class="row justify-content-center">
                            {% for post in row %}
                                <div class="col-9 col-md-3 mt-4">
                                    <li class="card">
                                        {% set src = post.media[0].type == 1 ? asset("/uploads/post/" ~ post.media[0].imageName) : asset("/images/defaultPost.jpg") %}
                                        <img 
                                            src="{{ src | imagine_filter("card_preview") }}" 
                                            alt="{{ post.title }}" 
                                            class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ post.title }}</h5>
                                            <a href="{{ path("app_post_view", {"id": post.id}) }}" class="btn btn-primary">Voir cet article</a>
                                        </div>
                                    </li>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="row justify-content-center d-block d-sm-none">
                        <button class="btn btn-primary col-9 mt-4">Voir plus</button>
                    </div>
                </ul>
                {# mobile #}
                <div class="row">
                    <h3 class="text-center pt-4 d-sm-none">{{ key }}</h3>
                </div>
                <div class="row position-absolute bottom-0 mx-0">
                    <ul class="posts__container col-12 d-sm-none mb-0 px-0">
                        <div class="swiper-container vw-100">
                            <div class="swiper-wrapper">
                                {% for post in category %}
                                    <div class="swiper-slide">
                                        <li class="card">
                                            {% set src = post.media[0].type == 1 ? asset("/uploads/post/" ~ post.media[0].imageName) : asset("/images/defaultPost.jpg") %}
                                            <img 
                                                src="{{ src | imagine_filter("card_preview") }}" 
                                                alt="{{ post.title }}" 
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ post.title }}</h5>
                                                <a href="{{ path("app_post_view", {"id": post.id}) }}" class="btn btn-primary">Voir cet article</a>
                                            </div>
                                        </li>
                                    </div>
                                {% endfor %}
                                <div class="swiper-slide d-flex justify-content-center align-items-center h-auto bg-primary">
                                    <h3 class="text-light">Voir plus</h3>
                                </div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </ul>
                </div> 
            </div>
            {% set i = i + 1 %}
        {% endfor %}
    {% else %}
        <div class="col-md-6 bg-light p-5 mx-auto mt-3 rounded">
            <h2 class="text-center">Il n'y a pas encore des publications. <a href="{{ path('app_post_create') }}">Soyez le premier !</a></h2>
        </div>
    {% endif %}
    {{ encore_entry_script_tags('app_post') }}
{% endblock %}
