{% extends 'base.html.twig' %}

{% block body %}
	
	<div class="col-md-6 mx-auto p-4 bg-light rounded mt-3">
	<a href="{{ path('app_post_edit', {"id": postId}) }}" class="btn btn-sm btn-secondary position-absolute">&lsaquo; Retour</a>
	<h2 class="text-center">Ajoutez des médias</h2>
	<div class="row mt-3">
		<div class="col-4 mx-auto">
			<div class="row double-btn-selector">
				<button class="col-6 btn btn-primary p-3" id="js-media-type-1">
					<i class="gg-image mx-auto"></i>
					Image
				</button>
				<button class="col-6 btn btn-secondary p-3" id="js-media-type-2">
					<i class="gg-camera mx-auto"></i>
					Video
				</button>
			</div>
		</div>
	</div>


	<div class="swiper-container mt-4" id="js-swiper-form-media-type">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				{{ form_start(imageForm, {
					'attr': {
						'class': 'active', 
						'id': 'js-media-form-1'
					},
				}) }}
					{{ form_row(imageForm.imageFile) }}
					<button class="btn btn-success mt-2 mx-auto col-12" type="submit">Ajouter</button>
				{{ form_end(imageForm) }}
			</div>

			<div class="swiper-slide">
				{{ form_start(videoForm, {
					'attr': {
						'class': 'inactive', 
						'id': 'js-media-form-2'
					},
				}) }}
					{{ form_row(videoForm.url) }}
					<p class="text-muted">Pour publier une vidéo sur YouTube, vous pouvez consulter <a href="#" target="_BLANK">ce tutoriel.</a></p>
					<button class="btn btn-success mt-2 mx-auto col-12" type="submit">Ajouter</button>
				{{ form_end(videoForm) }}
			</div>
		</div>
	</div>

	{% if media is empty == false %}
		<div class="swiper-container mt-4" id="js-swiper-post-media">
			<div class="swiper-wrapper">
				{% for mediaItem in media %}
					<div class="swiper-slide py-5">
						<form action="{{ path("app_media_delete", {"id": mediaItem.id}) }}" method="post" class="d-flex flex-center">
							<input type="hidden" name="_method" value="DELETE" />
							<input type="hidden" name="_token" value="{{ csrf_token('app_media_delete' ~ mediaItem.id) }}" />
							<button class="btn btn-delete btn-danger btn-sm" name="to-delete" value="true" type="submit">Supprimer &times;</button>
							{% if mediaItem.type == 1 %}
								<img src="{{ asset(mediaItem.src)| imagine_filter('edit_preview')}}" alt="Aperçu image" class="mx-auto">
							{% else %}
								<iframe 
									width="200" 
									height="200"
									src="{{ mediaItem.src }}"
									title="YouTube video player" 
									frameborder="0" 
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
									allowfullscreen
									class="mx-auto">
								</iframe>
							{% endif %}
						</form>
					</div>
				{% endfor %}
			</div>
			<div class="swiper-pagination"></div>
		</div>
	{% endif %}

		<form action="{{ path("app_post_save", {"id": postId}) }}" method="POST">
			<button class="btn btn-primary col-12 mt-2" name="to-save-post" value={{ postId }}>C'est bon !</button>
		</form>
	</div>


    {{ encore_entry_script_tags('postMedia') }}

{% endblock %}
