<div class="row">
    <h3 class="text-center pt-4 d-sm-none h1">{{ key }}</h3>
</div>
<div class="row mx-0 mt-3">
    <ul class="posts__container col-10 d-sm-none mb-0 px-0">
        <div class="swiper-container vw-100">
            <div class="swiper-wrapper">
                {% for post in category %}
                    <div class="swiper-slide d-flex justify-content-center align-items-center">
                        <li class="card col-9">
                            {% set src = post.media[0].type == 1 ? asset("/uploads/post/" ~ post.media[0].imageName) : asset("/images/defaultPost.jpg") %}
                            <img 
                                src="{{ src | imagine_filter("edit_preview") }}" 
                                alt="{{ post.title }}" 
                                class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <a href="{{ path("app_post_view", {"id": post.id}) }}" class="btn btn-primary">Voir cet article</a>
                            </div>
                        </li>
                    </div>
                {% endfor %}
                <div class="swiper-slide d-flex justify-content-center align-items-center">
                    <button class="col-9 btn btn-primary d-flex justify-content-center align-items-center rounded see-more">
                        <h3 class="text-light">Voir plus</h3>
                    </button>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </ul>
</div> 